body {
    text-align: center;
    width: auto;
    background-color: white;
}

#main-logo {
height: 200px;
width: 600px;
}

h1 {
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 20px;
}

p {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

#startBtn {
    margin-top: 30px;
    color: #ffffff; 
    background-color: #B8A351;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}

#show-number{
    margin-top: 50px;
    height: 30px;
    color: black;
    display: none;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
}

#questions-box label {
    margin-top: 30px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}    

#questions-box {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: 0 auto;
}

#questions-box .question {
    margin-top: 40px;
    font-size: 35px;
}

#results { 
    margin-top: 30px;
    height: 60px;
    color: black;
    display: none;
}

#results p {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
}

#end {
    margin: 40px 0 40px 0;
}

#submitBtn {
    text-align: center;
    margin: 0 auto;
    color: #ffffff; 
    background-color: #B8A351;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}

#footer {
    background-color: white;
    border-top: 1px solid rgb(228, 225, 225);
    bottom: 0;
    text-align: center;
}

#footer img {
    width: 400px;
    height: 120px;
}

#footer p1,
#footer p2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#footer p1 {
    font-family: 'Josefin Slab', serif;
}
#footer p2 {
    font-family: 'Amatic SC', cursive;
}